@font-face {
  font-family: ApercuProRegular;
  src: url("../fonts/apercu_regular_pro.otf") format("opentype");
}

@font-face {
  font-family: ApercuProBold;
  src: url("../fonts/apercu_bold_pro.otf") format("opentype");
}

@font-face {
  font-family: ApercuProMedium;
  src: url("../fonts/apercu_medium_pro.otf") format("opentype");
}

.header {
  font-family: 'ApercuProBold', sans-serif;
  font-size: 62px;
  padding-top: 10px;
  letter-spacing: -0.8px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 16px;
}

.subtitle {
  font-family: 'ApercuProRegular', sans-serif;
  font-size: 18px;
  letter-spacing: normal;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 22px;
}

.subheader {
  font-family: 'ApercuProMedium', sans-serif;
  font-size: 18px;
  letter-spacing: -0.4px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.subsubheader {
  font-family: 'ApercuProMedium', sans-serif;
  font-size: 18px;
  letter-spacing: -0.7px;
  margin-top: 8px;
  margin-bottom: 8px;
}

p {
  font-family: 'ApercuProRegular', sans-serif;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.landing-fineprint {
  margin-top: 30%;
  font-family: 'AtlasGrotesqueLight', sans-serif;
  font-size: 12px;
  /* letter-spacing: 0.3px; */
  color: #333333;
}

/* .subheader {
  font-family: 'AtlasGrotesqueMedium', sans-serif;
  font-size: 20px;
  letter-spacing: -0.4px;
  margin-top: 36px;
  margin-bottom: 4px;
} */


b {
  font-family: 'AtlasGrotesqueRegular', sans-serif;
}

a {
  font-family: 'ApercuProRegular', sans-serif;
  font-size: 16px;
  color: #233FE1;
  text-decoration: none;
}

.nav-link {
  font-family: 'ApercuProRegular', sans-serif;
  font-size: 15px;
  color: black;
}

button {
  border-style: none;
  background-color: none;
  background: none;
  font-family: 'ApercuProRegular', sans-serif;
  font-size: 18px;
  letter-spacing: normal;
}
