/*---------- SMALL DESKTOP / BIG SIZE: 0.4 to 0.75 width of laptop screen ----------*/
@media only screen and (max-width : 1355px) and (min-width : 1051px) {
  /* .landing-text {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .header {
    font-size: 56px;
    line-height: 58px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 20px;
  } */

  /* .card {
    width: 31%;
  }

  #speaker-page {
    margin-top: 60px;
  } */

  /* body {
    background-color: yellow;
  } */
}

/*---------- TABLET / MEDIUM SIZE: 0.33333 to 0.4 width of laptop screen ----------*/
@media only screen and (max-width : 1050px) and (min-width : 910px) {
  /* .main {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .landing-text {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .header {
    font-size: 56px;
    line-height: 58px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 20px;
  } */

  /* #speaker-page {
    margin-top: -60px;
  }

  .card {
    width: 31%;
  } */


  /* body {
    background-color: green;
  } */
}

/*---------- V SMALL DESKTOP / SMALL SIZE: < 0.3333 width of screen ----------*/
@media only screen and (max-width : 860px) {
  .main {
    margin-right: 8px;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    width: auto;
  }

  .nav-menu {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .page {
    justify-content:center;
    margin: auto;
    width: 80%;
    min-width: 360px;
  }

  .subheader-div {
    display: block;
    width: 100%;
    text-align: center;
  }

  .text-div {
    display: block;
    width: 100%;
  }

  .subheader {
    text-align: center;
  }

  .landing-text {
    flex-direction: column;
    width: 360px;
  }
  .landing-sponsored-text {
    width: auto;
  }

  .landing-page-header {
    text-align: center;
    display: block;
  }

  .landing-page-subheader {
    text-align: center;
    display: block;
    margin-left: 6%;
  }

  #landing-img {
    width: 370px;
    height: 350px;
  }

  .calendar {
    padding-top: 24px;
  }

  #speaker-page {
    margin-top: 0px;
  }

  .assignments {
    margin-top: 24px;
  }

  .assignment {
    margin-left: 20px;
    margin-right: 20px;
  }

  .assignment-name {
    font-size: 14px;
  }

  .assignment-unit {
    font-size: 14px;
  }

  .assignment-date {
    font-size: 14px;
  }

  .assignment-submission {
    font-size: 14px;
  }

  #about-page {
    margin-top: 24px;
  }

  .text-div.staff {
    text-align: center;
  }

  /* body {
    background-color: blue;
  } */
}

/*---------- MOBILE VIEW: smartphones, Android phones, landscape iPhone ----------*/
@media only screen and (max-device-width : 1150px) {
  .nav-bar {
    width: 87.5%;
  }

  .nav-menu {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .page {
    justify-content:center;
    margin: auto;
    min-width: 290px;
  }

  #landing-page {
    margin-left: 0%;
    width: 100%;
  }

  .landing-text {
    width: 100%;
  }

  .landing-page-header {
    width: 100%;
  }

  .landing-page-subheader {
    margin-left: 0%;
    width: 100%;
  }

  .landing-button {
    width: 90%;
  }

  #landing-img {
    width: 100%;
  }


  /* body {
    background-color: grey;
  } */
}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
}
